.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}

.header__menu {
  margin-top: -1px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item:nth-child(2) .header__link {
  margin-left: -0.5px;
}

.header__links-list-item:nth-child(3) {
  margin-left: 1px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration-skip-ink: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  position: relative;
  left: 2px;
  display: block;
  width: 148px;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
}

.header__address {
  justify-self: end;
  width: 240px;
  margin-top: -1px;
}

.header__address a {
  margin-left: 0.5px;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.header__address p {
  width: 236.49px;
  margin-left: 1px;
}

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px;
  color: #fff;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.6;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description-text {
  width: 637px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
  text-transform: uppercase;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
}

.bet-button {
  width: 256px;
  height: 51px;
  padding: 0;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 180px 24px 0;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  padding: 48px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  z-index: 1;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin: 124px 24px 0;
  
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px auto 0;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-top: 136px;
  margin-bottom: 100px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
}

.about__text p:first-child {
  width: 688px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  margin-top: 180px;
  padding: 0 50px;
  font-size: 18px;
}

.footer .address {
  max-width: 265px;
}

.footer .address a,
.footer__menu-link {
  text-decoration-skip-ink: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-list-item {
  line-height: 21px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}
